#ora{
    height: 150px;
    background-color: orange;
}
#whi{
    height: 150px;
    background-color: white;
}
#gre{
    height: 150px;
    background-color: green;
}
img{
    height: 150px;
    width: 150px;
    margin-left: 500px;
}